[submodule "libraries/lodepng"]
	path = libraries/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/icaven/glm
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw